.biz-info {
    background-image: url('https://i.imgur.com/ypz7jqX.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

.biz-title {
    color: white;
    font-weight: 700;
    font-size: 60px;

}

.header-subinfo {
    display: flex;
    color: white;
    font-size: 30px;
}

.stars {

}

.category-header {

}

.hours-header {

}

.header-right {

}

.view-photo {
    color: white;
}

.main {
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.add-buttons {
    border-bottom: 1px solid #015498;
    padding-bottom: 15px;

}

.write-review {

}

.menu-section {
    border-bottom: 1px solid #015498;
    padding-bottom: 15px;
}

.section-header {

}

.location-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #015498;
    padding: 15px;
}

.location-left-side {

}

.location-right-side {
    padding-top: 30px;
}

.about-section {
    border-bottom: 1px solid #015498;
    padding-bottom: 15px;
}

.owner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.owner-img {
    height: 50px;
}

.owner-details {
    padding-left: 20px;
}

.owner-name {
    padding-bottom: 0;
}

.owner-title {
    padding-top: 0;
}

.about-body {

}

.questions-section {
    border-bottom: 1px solid #015498;
    padding-bottom: 15px;
}

.ask-question-div {
    display: flex;
    justify-content: space-between;
}

.q-a {
    display: flex;
    align-items: center;
}

.question-letter {
    padding-right: 5px;
    font-weight: 700;
}

.question-asked {

}

.answer {

}

.review-section {
    padding-top: 20px;
}

.sort-review {

}

.sort {

}

.review {

}

.reviewer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reviewer-img {
    height: 50px;

}

.reviewer-info {
    padding-left: 20px;
 
}

.reviewer-name {

}

.reviewer-title {

}

.stars {

}

.review-content {
    padding-bottom: 50px;
}



