.rating-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: 10px solid #015498;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #abdee2;
    margin: auto;
    width: 75%;
    height: 55%;
    text-align: center;
}

.review-title {
    color: #015498;
    font-weight: 600;
    padding: 25px;
}

.star-rating {
    padding-bottom: 15px;
}

.add-review-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-label {
  font-size: 20px;
  margin-bottom: 5px;
  color: #015498;
}

.review-label::placeholder {
  text-align: center;
}

.review-input {
  background: white;
  margin-left: 8px;
  border-radius: 4px;
  border: none;
  height: 100px;
  width: 14rem;
}

.submit-review {
  margin: 10px;
  width: 75%;
  background-color: #015498;
  padding: 8px;
  border-radius: 4px;
}


.on {
  color: #015498;
}
.off {
  color: #ccc;
}