.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #015498;
    position: relative;
     bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    height: auto;
}

.credits {
    color: #FFF201;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.media {
    font-size: 30px;
    padding: 0 8px;
}

.media:hover {
    color: white;
}
