.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #015498;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100px; */
}

.credits {
    color: #FFF201;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
