/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html, body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    
}



button {
    background: none;
    border: none;
    color: #FFF201;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
}

h1 {
    padding: 0;
    margin:0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #FFF201;
}




/* input {
    background-color: none;
    border: none;
} */