/* Colors:
    mid-blue: #21B5DA
    light-blue: #83D5DD
    dark-blue: #015498
    yellow: #FFF201
*/


.landing-container {
    background-image: url('https://i.imgur.com/SypRtE7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: aquamarine; */
    width: 90%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    z-index: -1;
}

.overlay {
    width: 90%;
    height: 700px;
    margin: 50px auto 50px;
    position: absolute;
    background-color: rgb(0,0,0, .2);
    top: 110px;
    border-radius: 10px;
    z-index: 1;
}

.logo-search {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-logo {
    max-width: 400px;
}

.search {
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid #015498;
    border-radius: 4px;
    width: 600px;
    height: 25px;
}

.search::placeholder {
    text-align: center;
    color: #015498;
}

.biz-categories {
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 600px;
    z-index: 2;
}

.icon-text {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.category-snip {
    /* padding-left: 8px; */
}

.icon {
    height: 100px;
    padding-right: 10px;
    
}

.listings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;

}

.title {
    color: #015498;
    font-size: 3em;
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #FFF201;
    /* padding-bottom: 10px; */
     width: 90%;
    color: #015498;
}

.businesses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.biz-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 25%;
}

.biz-link {
    color: #015498;
    text-decoration: none;
}

.biz-link:hover {
    color: #FFF201;
}

.listing-img {
    height: 100px;
    border-radius: 4px;
    margin-right: 8px;
}

.add-biz {
    color: #FFF201;
    text-decoration: none;
    padding: 5px;
    /* margin-bottom: 18px; */
    font-size: 1.2em;
}

.add-biz:hover {
    color: white;
}