/* Colors:
    mid-blue: #21B5DA
    light-blue: #83D5DD
    dark-blue: #015498
    yellow: #FFF201
*/


.form-container {
      border-radius: 10px;
     border: 10px solid #015498;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #abdee2;
    margin: auto;
    width: 75%;
    height: 75%;
    text-align: center;
}

.login-header {
    color: #FFF201;
}

.signup-header,
.signup-link {
    padding: 3px;
    text-decoration: none;
    color: #015498;
}

.signup-link:hover {
    color: #FFF201;
}


.signupContainer {
    display: flex;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    color: #015498;

}

.form-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.login-label {
    margin-bottom: 5px;
}

.login-input {
    background: white;
    margin-left: 4px;
    border-radius: 4px;
    border: none;
    width: 80%;
}

.loginImage {
    height: 200px;
    border-radius: 60%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
}

.login-button {
    
    margin: 3px;
    background-color: none;
    color: #015498;
}

.login-button:hover {
    color: #FFF201;

} 